body{
    margin: 0;
}
.father{
    height: 600px;
    background: silver;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;/*left-right*/
    flex-wrap: wrap;

}
.child{
    width: 200px;
    height: 200px;
    background: linear-gradient(35deg,red,yellow);
    }
.xxx{
    width: calc(100px + 100px);
    height: 200px;
    background: black;
}